@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=PT+Sans+Caption&family=Poppins&family=Roboto&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.nav a.active {
  color: "#D58D00";
  text-decoration: underline;
  text-decoration-color: "#000080";
}