@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=PT+Sans+Caption&family=Poppins&family=Roboto&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.nav a.active {
  color: "#D58D00";
  text-decoration: underline;
  text-decoration-color: "#000080";
}

.input:focus {
  outline: 1.5px solid #000080;
}
.input::placeholder {
  height: 21px;
  font-weight: 400;
  font-size: 14px;
  color: #8f8f8f;
}